body, html, ul, li, p, a, img, span, h1, h2, h3, h4, h5, h6{padding: 0px;margin: 0px;}
.clr{clear: both;}
img{max-width: 100%;}
body{background: #efefef!important;}
.hedr{
		height: 280px;
	background: url(../images/hdr-bg.jpg) no-repeat; 
	padding: 0px!important;
	margin: 0px!important;
}
header{
	width: 100%;
	height: 280px;
	background: url(../images/hdr-bg-clr.png) repeat;
}

.logo-blk{
	margin: 20px auto 30px;
	height: 150px;
	width: 200px;	
	
}

.serh-blk{background: #fff;box-shadow: 1px 2px 3px #000;height: 54px;}
.serh-blk input[type=text]{background: none!important;border: none!important;height: 100%;box-shadow: none!important;width: 500px;float: left;}
.serh-blk i{font-size: 30px; color: #4c4c4c;float: right;margin-top: 10px;}

#mklist{list-style: none;}
.features li.hvchild span.rcircle {
    background: rgba(0, 0, 0, 0) url("http://images.cartrade.com/images4/sprites_imgs.png") no-repeat scroll -59px -424px;
    color: #000000;
    display: block;
    float: left;
    height: 18px;
    margin-right: 10px;
    width: 18px;
}


.pull-left {
    float: left;
}


.carDetails li{
	list-style-type: none;
	border-bottom-style: 1px solid;
}